<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>common</key>
	<dict>
		<key>bean</key>
		<string>BBBean</string>
		<key>host</key>
		<string></string>
		<key>api</key>
		<dict>
			<key>serviceHTTPS</key>
			<dict>
				<key>url</key>
				<string>https://www.pierup.cn:8443/common_api_cn/v1/query/all_provinces</string>
				<key>method</key>
				<string>GET</string>
				<key>output</key>
				<string>BBModel</string>
			</dict>
			<key>serviceHTTP</key>
			<dict>
				<key>url</key>
				<string>http://httpbin.org/get</string>
				<key>method</key>
				<string>GET</string>
				<key>output</key>
				<string>BBValue</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
